h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #FFD700;
	background-color: #000000;
	text-align: center;
}
h2 {
	font-family: "Calibri Light";
	font-size: 14px;
}
