.gallery img{
    width: 100%;
 }
#menu{
      width:100%;
      height:30px;
      background-color: black;
      padding-top: 10px;
      padding-bottom: 10px;

      
}

#menu a{
      color:#ffffff;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      text-decoration:none;
      font-weight: 20pt;
      
      padding-left: 20px;
      padding-right: 20px;
}

#menu a:hover{
       color:gold;
}
h1 {
	font-family: fantasy;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFD700;
	padding: 20px;
	text-align: right;
	vertical-align: middle;
}
.auto-style1 {
	text-align: center;
	background-color: #FFD700;
	font-family: fantasy;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}
p {
	font-family: fantasy;
	font-size: 50px;
	background-color: #FFD700;
	font-weight: bold;
	text-transform: uppercase;
}
h1,img {
	text-align: left;
	vertical-align: middle;
}
        .auto-style3 {
            text-align: center;
        }
        .auto-style6 {
            background-color: #FFFFFF;
        }
        .auto-style8 {
            font-size: 40pt;
            font-family: "Bernard MT Condensed";
            color: #8B897C;
            letter-spacing: 3px;
        }
        .auto-style12 {
            background-color: #666666;
            margin-bottom: 14px;
        }
        .auto-style13 {
            text-align: left;
            color: #FFFFFF;
        }
        .auto-style14 {
            text-decoration: none;
        }
        .auto-style16 {
            color: #FFFFFF;
            font-size: large;
        }
    .auto-style18 {
	background-color: #FFD700;
}
.auto-style21 {
	text-align: center;
}
.auto-style20 {
	font-size: 55pt;
	font-family: fantasy;
}
    .auto-style22 {
		border-width: 0px;
	}
#search-container {
    margin-bottom: 20px;
}

#search {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    background:#FFD700;
}

